

<div id="map" class="map-frame"></div>

<div id="video-player"></div>

<!--

  Check out this super simple Form by Andrew Coyle
  https://dribbble.com/shots/1677101-Form

-->
<div class="input-box">
<%= form_for @trip do |f| %>

  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :video_title, :value => @trip.video_title %>
  <%= f.hidden_field :video_id, :value => @trip.video_id %>
  <%= f.hidden_field :formatted_start_point, :value => @trip.formatted_start_point %>
  <%= f.hidden_field :formatted_end_point, :value => @trip.formatted_end_point %>

  <div class="col-4">
    <%= f.label :video_link do %>
      影片連結
      <%= f.text_field :video_link, placeholder: 'youtube影片連結', disabled: @readonly %>
    <% end %>
  </div>

  <div class="col-4">
    <%= f.label :start_point do %>
      啟始點
      <%= f.text_field :start_point, placeholder: '影片中開始的地點', disabled: @readonly %>
    <% end %>
  </div>
  <div class="col-4">
    <%= f.label :end_point do %>
      結束點
      <%= f.text_field :end_point, placeholder: '影片中結束的地點', disabled: @readonly %>
    <% end %>
  </div>

  <div class="col-4">
    <%= f.label :road_type do %>
      道路類型
      <%= f.select :road_type, Trip.RoadTypes, { :include_blank => true }, { disabled: @readonly } %>
    <% end %>
  </div>

  <div class="col-4">
    <%= f.label :distance do %>
      移動距離(KM)
      <%= f.text_field :distance, placeholder: '移動距離(KM)' , disabled: @readonly%>
    <% end %>
  </div>

  <div class="col-4">
    <%= f.label :numbers_of_people do %>
      承載人數
      <%= f.number_field :numbers_of_people, placeholder: '乘客與駕駛', value: 1 , disabled: @readonly%>
    <% end %>
  </div>

  <div class="col-4">
    <%= f.label :vehicle_name do %>
      車輛名稱
      <%= f.text_field :vehicle_name, placeholder: 'Dio 50', disabled: @readonly %>
    <% end %>
  </div>

  <div class="col-4 checkbox">
    <%= f.label :accident do %>
      有事故嗎
      <%= f.check_box :accident, :class => 'no-js-switch', disabled: @readonly %>
    <% end %>
  </div>

<!--   <div class="col-4 col-submit">
    <button type="submit">送出</button>
  </div> -->

  <!-- <div class="col-submit">
    <button type="submit">確定</button>
  </div> -->

  <div class="col-submit">
    <%= button_tag "下一步", id: "action-button", type: "submit"  %>
  </div>
<% end %>
</div>