<p id="notice"><%= notice %></p>

<h1>Listing Trips</h1>

<table>
  <thead>
    <tr>
      <th>Video link</th>
      <th>Google map path link</th>
      <th>Start point</th>
      <th>End poinrt</th>
      <th>Distance</th>
      <th>Road type</th>
      <th>Numbers of people</th>
      <th>Accident</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.video_link %></td>
        <td><%= trip.google_map_path_link %></td>
        <td><%= trip.start_point %></td>
        <td><%= trip.end_poinrt %></td>
        <td><%= trip.distance %></td>
        <td><%= trip.road_type %></td>
        <td><%= trip.numbers_of_people %></td>
        <td><%= trip.accident %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
