<!DOCTYPE html>
<html>
<head>
  <title>延人里程記錄器</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= yield(:page_id) %>">
<header>
	<div class="logo-and-slogan">
		<a href="/" class="logo"><%= image_tag("logo.png") %></a>
		<span class="subtitle"><%= yield(:subtitle) %></span>
	</div>
	<h1>目前累計運輸量 : <span><%= @total_passenger_kilometer %></span> <span style="font-size: 50%;">延人公里</span>, 事故數 0 件</h1>
	<nav>
		<a href="/trips/new">找不到想看的？自己新增吧!</a>
	</nav>
</header>
<div id="video-player"></div>
<%= yield %>
<div id="map" class="map-frame"></div>

<script src="https://www.youtube.com/iframe_api"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= yield :javascript %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB03cK_JNQ-T8KTe3odfQQ0k7lyhGD8fUw&callback=initMap" async defer></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-8649920-13', 'auto');
  ga('send', 'pageview');

</script
</body>
</html>


<!-- 延人里程記錄器 -->